<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>

        <form th:action="@{/agenda}" method="post" th:object="${agendamento}" id="formagendamento">

            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="txtdia">Data</label>
                <input type="date" th:field="*{data}" class="form-control" id="txtdata">
            </div>

            <div class="form-group">
                <label for="txthora">Horário</label>
                <input type="time" th:field="*{hora}" class="form-control" id="txthora">
            </div>

            <div class="form-group">
                <label for="txtdescricao">Descrição</label>
                <input type="text" th:field="*{descricao}" class="form-control" id="txtdescricao">
            </div>

            <div class="form-group">
                <button class="btn btn-primary js-confirm" type="button">Enviar</button>
            </div>
    </main>

    <div class="modal" tabindex="-1" id="modalagenda">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Criar agendamento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalbody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
          </div>
        </div>
      </div>

    <div th:include="layout :: footer">(footer)</div>
    <script th:src="@{/confagendamento.js}"></script>
    </form>
  </body>
</html>