<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <main class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <br>
            <h1 style="text-align: center">Editar Cliente</h1>
            <br>
            <form th:action="@{/clientes}" method="post" th:object="${cliente}">

                <input type="hidden" th:field="*{id}">
                
                <div class="form-group">
                    <label for="txtnome">Nome</label>
                    <input type="text" required th:field="*{nome}" class="form-control" id="txtnome">
                </div>

                <div class="form-group">
                    <label for="txttelefone">Telefone</label>
                    <input type="text" required th:field="*{telefone}" class="form-control" id="txttelefone">
                </div>

                <div class="form-group">
                    <label for="txtemail">Email</label>
                    <input type="text" th:field="*{email}" class="form-control" id="txtemail">
                </div>

                <div class="form-group">
                    <label for="txtendereco">Endereço</label>
                    <input type="text" th:field="*{endereco}" class="form-control" id="txtendereco">
                </div>

                <div class="form-group">
                    <label for="txtdatanascimento">Data Nascimento</label>
                    <input type="date" required th:field="*{dataNascimento}" class="form-control" id="txtdatanascimento">
                </div>

                <div style="text-align: center;" class="form-group">
                    <br>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
        </main>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>