<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <main class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Produto</h1>
            <form th:action="@{/produtos}" method="post" th:object="${produto}">

                <input type="hidden" th:field="*{id}">
                
                <div class="form-group">
                    <label for="txtnome">Nome</label>
                    <input type="text" th:field="*{nome}" class="form-control" id="txtnome">
                </div>

                <div class="form-group">
                    <label for="txtmarca">Marca</label>
                    <input type="text" th:field="*{marca}" class="form-control" id="txtmarca">
                </div>

                <div class="form-group">
                    <label for="txtvalidade">Validade</label>
                    <input type="date" th:field="*{validade}" class="form-control" id="txtvalidade">
                </div>

                <div class="form-group">
                    <label for="txtcategoria">Categoria</label>
                    <input type="text" th:field="*{categoria}" class="form-control" id="txtcategoria">
                </div>

                <div class="form-group">
                    <label for="txtquantidade">Quantidade</label>
                    <input type="number" th:field="*{quantidade}" class="form-control" id="txtquantidade">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
        </main>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>