<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>

        <div style="text-align: center">
        <br>
        <h1>Produtos</h1>
        <br>
        <a href="/produtos/novo" class="btn btn-primary">Novo</a>
        <br>
        <br>
        </div>

        <table class="table" id="tabprodutos">
            <thead>
                <th>Nome</th>
                <th>Marca</th>
                <th>Validade</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th></th>
            </thead>
            <tbody>
                <tr class="tableitem" th:each="umProduto : ${listaProdutos}">
                    <td th:text="${umProduto.nome}"></td>
                    <td th:text="${umProduto.marca}"></td>
                    <td th:text="${umProduto.validade}"></td>
                    <td th:text="${umProduto.categoria}"></td>
                    <td th:text="${umProduto.quantidade}"></td>
                    <td><a th:href="@{'/produtos/alterar/' + ${umProduto.id}}" class="btn btn-warning">Alterar</a>
                        <button class="btn btn-danger js-delete" th:data-id="${umProduto.id}">Excluir</button>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="modal" tabindex="-1" id="modalproduto">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Produto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do produto?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-danger" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/delproduto.js}"></script>
    </body>
</html>